.word-set-items {
    margin: 24px 0 24px 0;
}

.list-group-item button {
    border: none;
    cursor: pointer;
}

.list-group-item .btn-cookie {
    color: #000000;
}

.list-group-item .btn-trash {
    color: #e5383b;
}
